nav {
    background-color:#F2A649;
}

.navbar-nav {
    margin: auto;
}

.dropdown-menu {
    background-color:  rgba(25, 15, 8, 0.8);
}

.nav-item {
    margin-right: 10px;
}

#qtePanier {
    margin: 0;
    padding: 2px 8px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
}

