
.promo {
    margin: 0;
    padding: 0.3px;
    text-align: center;
}

.promo p {
    padding: 2px;
}


nav {
    background-color:rgba(29, 29, 28, 0.5);
}

.navbar-nav {
    margin: auto;
}

.nav-link {
    margin-right: 10px;
}
